[Desktop Entry]
Name=FindIPSec VPN
Comment=FindIPSec FortiGate IPsec XAuth VPN Client
Exec=findipsec-vpn-gui
Icon=findipsec-vpn
Terminal=false
Type=Application
Categories=Network;VPN;
Keywords=vpn;fortigate;ipsec;ike;xauth;otp;
StartupNotify=true
